<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="../assets/main.css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.2/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="loading" id="loader" style="display:none;">Loading&#8230;</div>
    <div class="jumbotron">
      <h1>Decrypt It!</h1>
      <p></p>
    </div>
    <div class="container decryptTextareas col-md-12">
      <div class="alert alert-danger" id="messageWarning" style="display:none;">
        <strong id="strongWarning" style=""></strong>
        <p id="mainWarning"></p>
      </div>
      <div class="col-md-6">

        <input type="text" placeholder="Encryption password" id="password" class="input-lg"/>

      </div>
      <div class="col-md-6">

        <button type="button" class="btn btn-primary" id="select-file">Add File</button>
        <input style="width:60%;" type="text" placeholder="Please select a file" id="actual-file" disabled="disabled"/>

      </div>
      <div class="col-md-12" id="dataBoxes">

        <textarea rows="8" cols="50" id="inputData"></textarea>
        <textarea rows="8" cols="50" id="outputData"></textarea>

      </div>
      <br/>
      <div class="col-md-12">
        <a href="../index.html" class="btn btn-primary" id="test">Go Back</a>
      </div>
    </div>

    <script type="text/javascript">
      const crypto = require('crypto');
      const fs = require("fs");
      const {dialog} = require('electron').remote;

      var key = "";

      document.getElementById('select-file').addEventListener('click',function(){
        dialog.showOpenDialog(function (fileNames) {
          if(fileNames === undefined){
            console.log("No file selected");
          }else{
            document.getElementById("actual-file").value = fileNames[0];
            decrypt(fileNames[0]);
          }
        });
      },false);

      document.ondragover = document.ondrop = (ev) => {
        ev.preventDefault();
      }

      document.body.ondrop = (ev) => {
        document.getElementById("outputData").value = "";
        document.getElementById("loader").style.display = "";
        decrypt(ev.dataTransfer.files[0].path);

        ev.preventDefault();
      }

      document.getElementById('password').addEventListener('input', function(){
      });

      function decrypt(data) {

        function base64_encode(binaryData) {
          // convert binary data to base64 encoded string
          return new Buffer(binaryData).toString('base64');
        }

        var path = require("path");
        var key = document.getElementById('password').value;

        try{
          fs.readFile(data, function(err, fileData){
            const decipher = crypto.createDecipher('aes192', key);
            try{

              document.getElementById("inputData").value = fileData.toString("utf8");
              let unencrypted = decipher.update(fileData.toString("utf8"), 'hex', 'utf8');
              unencrypted += decipher.final('utf8');

              if (path.extname(data).toLowerCase() == ".jpg" || path.extname(data) == ".png") {
                var img = document.createElement("img");
                fs.writeFileSync("./test.jpg", unencrypted);

                var base64str = base64_encode(unencrypted);

                img.src = "data:image/jpg;base64,"+base64str;
                console.log(img.src);
                document.getElementById("test").appendChild(img);
              }

              document.getElementById("loader").style.display = "none";
              document.getElementById("messageWarning").style.display = "none";
              document.getElementById("outputData").value = unencrypted;

            }catch(e){
              document.getElementById("loader").style.display = "none";
              error = {
                badDecrypt: "Error: error:06065064:digital envelope routines:EVP_DecryptFinal_ex:bad decrypt",
                badInputString: "TypeError: Bad input string",
                wrongBlockLength: "Error: error:0606506D:digital envelope routines:EVP_DecryptFinal_ex:wrong final block length"
              }
              console.log(e);
              if(e == error.badDecrypt){
                document.getElementById("messageWarning").style.display = "";
                document.getElementById("strongWarning").textContent = "Incorrect password!";
                document.getElementById("mainWarning").textContent = "Make sure the password is entered correctly (password is case-sensitive).";
              }else if(e == error.badInputString || e == error.wrongBlockLength){
                document.getElementById("messageWarning").style.display = "";
                document.getElementById("strongWarning").textContent = "Bad file!";
                document.getElementById("mainWarning").textContent = "Something is wrong with the file you inputed. Is it even an encrypted file? Maybe it's the wrong encryption type.";
              }
            }
          })

        }catch(e){
          alert(e);
        }
      }

      document.getElementById('inputData').addEventListener('input', function(){
        var encryptedData = document.getElementById('inputData').value;
      });
    </script>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  </body>
</html>
