<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="../assets/main.css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.2/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="loading" id="loader" style="display:none;">Loading&#8230;</div>
    <h1>Encrypter</h1>
    <div style="text-align:center;" class="container">
      <input style="width:100%;" type="text" placeholder="Please select a file" id="actual-file" disabled="disabled"/>
      <input type="button" value="Choose a file" id="select-file"/><br/><br/>
      <input style="width:100%;" type="text" placeholder="Where you want the encrypted files to go" id="pathToFiles" disabled="disabled"/>
      <input type="button" value="Choose a path" id="path-file"/><br/><br/>
      <input type="text" placeholder="Encryption password" id="encryptionPassword"/><br/>
      <input type="button" value="Encrypt-It!" id="encrypt"/>
    </div>
    <div class="col-md-12 text-center" id="list">
      <div class="bubbleLoader" id="bubbleLoader" style="display:none;">
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
      </div>
      <div id="listOfFiles">
        <ul id="filesAfterQuery">

        </ul>
      </div>
    </div>
    <a href="../index.html" class="btn btn-primary">Go Back</a>


    <script>if (typeof module === 'object') {window.module = module; module = undefined;}</script>

    <script src="../assets/jquery-3.2.1.min.js"></script>
    <script src="../libs/encrypt.js"></script>
    <!-- <script src="../js/history.js"></script> -->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <script>if (window.module) module = window.module;</script>
  </body>
</html>
